html,
        body {
          height: 100%;
        }
        
        body {
          display: -ms-flexbox;
          display: -webkit-box;
          display: flex;
          -ms-flex-align: center;
          -ms-flex-pack: center;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          /* padding-top: 10px; */
          padding-bottom: 50px;
          background-color: #dab1db;
        }
        
        .form-signin {
          width: 100%;
          max-width: 330px;
          padding: 15px;
          margin: 0 auto;
        }
        .form-signin .checkbox {
          font-weight: 400;
        }
        .form-signin .form-control {
          position: relative;
          box-sizing: border-box;
          height: auto;
          padding: 10px;
          font-size: 16px;
        }
        .form-signin .form-control:focus {
          z-index: 2;
        }
        .form-signin input[type="email"] {
          margin-bottom: -1px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
          margin-bottom: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
        #labelaki{
          margin-bottom: 2px;
        }
        h1 {
          
color: blueviolet;
        }
        
        .kinoumeno{
          --border-width: 3px;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 220px;
          height: 220px;
          
          background: #dab1db;
          border-radius: var(--border-width);
          border-radius: 50%;
          margin: 0 auto;
        }
        .kinoumeno::after {
          position: absolute;
          content: "";
          top: calc(-1 * var(--border-width));
          left: calc(-1 * var(--border-width));
          z-index: -1;
          width: calc(100% + var(--border-width) * 2);
          height: calc(100% + var(--border-width) * 2);
          background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
          background-size: 300% 300%;
          background-position: 0 50%;
          border-radius: calc(2 * var(--border-width));
          animation: moveGradient 3s alternate infinite;
          border-radius: 50%;

        }
        
        

        #outer {
          width: 220px;
          height: 220px;
          border-radius: 50%;
          overflow: hidden;
          position: relative;
      }
      .video {
        position: relative;
        left: 0;
        top: -80%;
        opacity: 1;
      }

      .krufo {
        display: none;
      }


      
      .zinoumeno{
        --border-width: 5px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 220px;
        
        background: #dab1db;
        border-radius: var(--border-width);
        border-radius: 50%;
        margin: 0 auto;
      }
      .zinoumeno::after {
        position: absolute;
        content: "";
        top: calc(-1 * var(--border-width));
        left: calc(-1 * var(--border-width));
        
        width: calc(100% + var(--border-width) * 2);
        height: calc(100% + var(--border-width) * 2);
        background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
        background-size: 300% 300%;
        background-position: 0 50%;
        border-radius: calc(2 * var(--border-width));
        animation: moveGradient 3s alternate infinite;
        border-radius: 50%;
        opacity: 0.4;
      }
      @keyframes moveGradient {
        50% {
          background-position: 100% 50%;
        }
      }
      #borderaki {
        display: none;
      }

      .passive{
        top: -70%;
        left: -35%;
      }
